@import "../sassmixins/_mixins.scss";
@import "../cdn/myreset.min.css";
body{
  background:#f6f6f6;
  -webkit-text-size-adjust: none;
}
.banner{
  width:100%;
  height:auto;
  position: relative;
  min-height: px2rem-m(100px);
  .img{
    width:100%;
    height:auto;
    min-height: px2rem-m(100px);
    img{
      width:100%;
      height:auto;
    }
  }
  .banner_fixed{
    position: absolute;
    width:100%;
    bottom: 0;
    left:0;
    @include font-dpr(13px);
    @include font-normal;
    height:px2rem-m(44px);
    line-height: px2rem-m(44px);
    padding-left: px2rem-m(15px);
    color:#fff;
    background:rgba(0,0,0,0.5);
    box-sizing: border-box;
    span{
      color:#3cd3db;
    }
  }
}
.join_people{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  background:#fff;
  height:px2rem-m(44px);
  border-bottom: 1px solid #eaeaea;
  @include font-dpr(14px);
  @include font-normal;
  color:#666;
  padding:0 px2rem-m(15px);
  .people_num{

    .blue{
      color:#3cd3db;
    }
  }
}
.line_time{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  padding:px2rem-m(30px);
  box-sizing: border-box;
  .line{
    height:1px;
    background:#ddd;
    width:px2rem-m(78px);
  }
  .time{
    @include font-dpr(12px);
    @include font-normal;
    color:#666;
  }
}
.dialog{
  padding:px2rem-s(30px) px2rem-m(15px);
  display: -webkit-box;
  -webkit-box-align: start;
  -webkit-box-pack: justify;
  .people_img{
    width:px2rem-m(35px);
    height:px2rem-m(35px);
    border-radius: px2rem-m(36px);
    overflow: hidden;
    border:1px solid #eaeaea;
    img{
      width:100%;
      height:auto;
    }
  }
  .content{
    padding-left: px2rem-m(8px);
    -webkit-box-flex: 1;
    .expert{
      color:#666;
      padding-bottom: px2rem-m(10px);
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: justify;
      .name{
        display: block;
        @include font-dpr(15px);
        @include font-normal;
        padding-right:px2rem-m(10px);
        display: -webkit-box;
        -webkit-box-align: center;
        p{
          padding-right: px2rem-m(6px);
        }
        .label{
          padding:4px px2rem-m(8px);
          border-radius: px2rem-m(3px);
          background: #4ee4ec;
          color:#fff;
          @include font-dpr(10px);
          @include font-normal;
          display: block;
        }
      }
      .time{
        color:#999;
      }
    }
    .voice{
      display: -webkit-box;
      -webkit-box-align: center;
      position: relative;
      .voice_arrow{
        position: absolute;
        width:0;
        height:0;
        border-top: px2rem-m(8px) solid transparent;
        border-right: px2rem-m(10px) solid #4ee4ec;
        border-bottom: px2rem-m(5px) solid transparent;
        background-size: 100%;
        transform: rotate(20deg);
        top:px2rem-s(5px);
        left:px2rem-s(-11px);
      }
      .box{
        border-radius: px2rem-m(3px);
        display: -webkit-box;
        -webkit-box-align: center;
        height:px2rem-m(32px);
        padding:0 px2rem-m(15px);
        background:#4ee4ec;
        .line{
          box-sizing: border-box;
          height:px2rem(29px);
          width:px2rem(18px);
          position: relative;
          img{
            width:100%;
            height:auto;
          }
          .line_top{
            position: absolute;
            display: none;
            top:0;
            left:3px;
            width:px2rem-m(18px);
            height:px2rem-m(20px);
            background:#4ee4ec;
          }
        }
      }
      .time_length{
        padding-left: px2rem-m(10px);
        @include font-dpr(12px);
        @include font-normal;
        color:#666;
      }
    }
    .detail{
      padding:px2rem-m(10px) px2rem-m(13px);
      box-sizing: border-box;
      background:#e0fdff;
      border-radius: px2rem-m(3px);
      position: relative;
      box-shadow:0px 5px 10px rgba(153,153,153,0.2);
      word-break: break-all;
      &:after{
        content:'';
        position: absolute;
        width:0;
        height:0;
        border-top: px2rem-m(8px) solid transparent;
        border-right: px2rem-m(10px) solid #e0fdff;
        border-bottom: px2rem-m(5px) solid transparent;
        background-size: 100%;
        transform: rotate(20deg);
        top:px2rem-m(5px);
        left:px2rem-m(-6px);
      }
      .arrow{
        position: absolute;
        width:0;
        height:0;
        border-top: px2rem-m(8px) solid transparent;
        border-right: px2rem-m(10px) solid #e0fdff;
        border-bottom: px2rem-m(5px) solid transparent;
        background-size: 100%;
        transform: rotate(20deg);
        top:px2rem-m(5px);
        left:px2rem-m(-6px);
      }
      .top{
        @include font-dpr(14px);
        @include font-normal;
        .img{
          width:px2rem-s(120px);
          border-radius: px2rem-s(10px);
          overflow: hidden;
          img{
            width:100%;
            heigh:auto;
          }
        }
        .url{
          word-break: break-all;
          line-height: 1.6em;
          color: #666;
        }
        p{
          color:#666;
          @include font-dpr(14px);
          @include font-normal;
          line-height: 1.6em;
          padding-top:5px;
        }

      }
      .middle{
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        padding:px2rem-m(15px) 0;
        .reply{
          color:#3cd3db;
          @include font-dpr(14px);
          @include font-normal;
          .people{
            color:#666;
          }
        }
        .time{
          @include font-dpr(12px);
          @include font-normal;
          color:#999;
        }
      }
      .bottom{
        color:#999;
        @include font-dpr(14px);
        @include font-normal;
        line-height: 1.6em;
      }
    }
  }
}
.footer_fixed{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height:px2rem(124px);
  .close{
    width:px2rem-s(46px);
    height:px2rem-s(46px);
    position: absolute;
    top:0;
    left:0;
    background:url("../../image/delete.png") no-repeat center;
    background-size: contain;
  }
  .down{
    background:url("../../image/down.png") no-repeat center;
    background-size: 100% auto;
    width:100%;
    height:px2rem(124px);
  }
}
@-webkit-keyframes line_play {
  15% {
    left:3px;
  }
  16%{
    left:3px;
  }
  60%{
    left:15px;
  }
  63%{
    left:15px;
  }
  100%{
    left:20px;
  }
}
