@import url(./cdn/myreset.min.css);
* {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body, html {
  width: 100%;
  height: 100%; }

.wrapper {
  background: url("../image/h5_bg.png") no-repeat center center;
  background-size: 100% 100%;
  width: 10rem;
  height: 57rem; }
  .wrapper .topLight {
    width: 100%;
    height: 1.64063rem; }
@-webkit-keyframes myfirst {
  0% {
    -webkit-transform: rotateZ(0deg); }
  25% {
    -webkit-transform: rotateZ(5deg); }
  50% {
    -webkit-transform: rotateZ(0deg); }
  75% {
    -webkit-transform: rotateZ(-15deg); }
  100% {
    -webkit-transform: rotateZ(0deg); } }
@-webkit-keyframes mysecond {
  0% {
    -webkit-transform: rotateZ(0deg); }
  25% {
    -webkit-transform: rotateZ(-5deg); }
  50% {
    -webkit-transform: rotateZ(0deg); }
  75% {
    -webkit-transform: rotateZ(15deg); }
  100% {
    -webkit-transform: rotateZ(0deg); } }
@-webkit-keyframes fireLeft1 {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0; } }
    .wrapper .topLight .lightLeft {
      display: inline-block;
      float: left; }
      .wrapper .topLight .lightLeft img {
        -webkit-animation: myfirst 2s infinite; }
    .wrapper .topLight .fireLeft {
      display: inline-block;
      padding-left: 6.25rem; }
      .wrapper .topLight .fireLeft img {
        width: 1.07813rem;
        height: 1.07813rem;
        -webkit-animation: 2s fireLeft1 0s infinite; }
    .wrapper .topLight .lightRight {
      display: inline-block;
      float: right; }
      .wrapper .topLight .lightRight img {
        -webkit-animation: mysecond 2s infinite; }
  .wrapper .fireRight {
    padding-top: 4.375rem;
    padding-left: 0.46875rem; }
    .wrapper .fireRight img {
      width: 1.21875rem;
      height: 1.20313rem;
      -webkit-animation: 2s fireLeft1 0s infinite; }
  .wrapper .content {
    width: 100%;
    height: auto;
    /*    display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;*/
    font-size: 0;
    padding-left: 1.5625rem;
    box-sizing: border-box; }
    .wrapper .content .gift {
      width: 3.15625rem;
      display: inline-block; }
      .wrapper .content .gift img {
        width: 3.15625rem;
        height: 1.46875rem; }
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@-webkit-keyframes phonemove {
  0% {
    -webkit-transform: rotateZ(0deg); }
  25% {
    -webkit-transform: rotateZ(10deg); }
  50% {
    -webkit-transform: rotateZ(0deg); }
  75% {
    -webkit-transform: rotateZ(-10deg); }
  100% {
    -webkit-transform: rotateZ(0deg); } }
    .wrapper .content .phone {
      width: 2.5rem;
      display: inline-block;
      position: relative;
      left: -0.85938rem;
      /*      -webkit-animation: phonemove 0.2s;*/ }
      .wrapper .content .phone img {
        width: 2.5rem;
        height: 4.70313rem; }
    .wrapper .content .phonemove {
      -webkit-animation: phonemove 0.2s; }
    .wrapper .content .luckone {
      width: 2.34375rem;
      height: 2.53125rem;
      display: inline-block;
      background: url("../image/h5_luckybaby_one.png") no-repeat center center;
      background-size: 100% 100%;
      position: relative;
      left: -0.98438rem; }
    .wrapper .content .lucktwo {
      width: 2.48438rem;
      height: 2.60938rem;
      display: inline-block;
      background: url("../image/h5_luckybaby_two.png") no-repeat center center;
      background-size: 100% 100%;
      position: relative;
      left: -0.98438rem; }
    .wrapper .content .star {
      opacity: 0;
      position: absolute;
      display: inline-block;
      width: 0.23438rem;
      left: 3.59375rem;
      top: 9.84375rem; }
      .wrapper .content .star img {
        width: 15px;
        height: 19px; }
    .wrapper .content .red_left {
      opacity: 0;
      width: 0.76563rem;
      display: inline-block;
      position: absolute;
      left: 3.125rem;
      top: 8.59375rem; }
      .wrapper .content .red_left img {
        width: 0.76563rem;
        height: 0.78125rem; }
    .wrapper .content .red_right {
      opacity: 0;
      width: 1.01563rem;
      display: inline-block;
      position: absolute;
      left: 6.25rem; }
      .wrapper .content .red_right img {
        width: 1.01563rem;
        height: 1.03125rem; }
    .wrapper .content .starmove {
      -webkit-animation: red_left 1s ease 0s 1; }
    .wrapper .content .red_leftmove {
      -webkit-animation: red_left 1s ease 0s 1; }
    .wrapper .content .red_rightmove {
      -webkit-animation: red_right 1s ease 0s 1; }
@-webkit-keyframes red_left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-0.3125rem, -0.07813rem); }
  25% {
    opacity: .5;
    -webkit-transform: translate(-0.625rem, -0.15625rem); }
  50% {
    opacity: .75;
    -webkit-transform: translate(-0.9375rem, -0.23438rem); }
  75% {
    opacity: 1;
    -webkit-transform: translate(-1.25rem, -0.3125rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-1.5625rem, -0.39063rem); } }
@-webkit-keyframes red_right {
  0% {
    opacity: 0;
    -webkit-transform: translate(0.3125rem, -0.07813rem); }
  25% {
    opacity: .5;
    -webkit-transform: translate(0.625rem, -0.15625rem); }
  50% {
    opacity: .75;
    -webkit-transform: translate(0.9375rem, -0.23438rem); }
  75% {
    opacity: 1;
    -webkit-transform: translate(1.25rem, -0.3125rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(1.5625rem, -0.39063rem); } }
  .wrapper .tbutton img {
    display: inline-block; }
  .wrapper .tbutton .first_button {
    text-align: center;
    width: 7.875rem;
    height: 1.45313rem;
    margin: 0 auto; }
  .wrapper .tbutton .second_button {
    text-align: center;
    width: 7.875rem;
    height: 1.45313rem;
    margin: 0 auto;
    padding-top: 0.3125rem; }

/*# sourceMappingURL=index.css.map */
