@import "../sassmixins/_mixins.scss";
@import "../cdn/myreset.min.css";
body {
  background:#f1f1f1;
}
.f_red{
  color: #fa86b5;
}
.yangshi{
  background: #fff;
  width: 100%;
  table {
    width: 100%;
    th {
      color: #333;
      font-size: px2rem(28px);
      @include font-normal();
      line-height: px2rem(70px);
      background: #f1f1f1;
    }
    tr {
      color: #666;
      font-size: px2rem(26px);
      line-height: px2rem(100px);
      border:1px solid #f1f1f1;
      width: 100%;
      text-align: center;
    }
  }
}


.bottom {
  background: #fff;
  padding: 20px;
  margin-top: px2rem(10px);
  span {
    font-size: px2rem(28px);
    color: #333;
  }
  font-size: px2rem(28px);
  color:#999;
}