@import "../sassmixins/_mixins.scss";
@import "../cdn/myreset.min.css";
body {
  background:#f1f1f1;
}

.content{
  .title{
    span{
      font-size: px2rem(26px);
      color: #333;
      line-height: px2rem(70px);
      margin-left: px2rem(30px);

    }
  }
}