body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  border: 0 none;
  color: #333; }

body {
  font: 14px/100% arial,"Hiragino Sans GB","Hiragino Sans GB W3",\5b8b\4f53;
  background-color: #f7f7f8; }

.layout-container-inner .g-ib {
  display: inline-block; }
.layout-container-inner .g-wd {
  width: 1000px;
  margin: 0 auto; }
.layout-container-inner .w1000px {
  width: 1000px; }
.layout-container-inner .hao123-tools-wrap {
  height: 61px;
  width: 100%;
  position: relative;
  z-index: 120; }
  .layout-container-inner .hao123-tools-wrap .g-wd {
    width: 1190px;
    margin: 0 auto; }
  .layout-container-inner .hao123-tools-wrap .hao123-tools {
    height: 60px;
    font-size: 12px;
    line-height: 22px;
    clear: both;
    position: relative;
    z-index: 996;
    font-family: 'Tahoma'; }
    .layout-container-inner .hao123-tools-wrap .hao123-tools .sethome {
      width: 25px;
      position: absolute;
      top: 0;
      line-height: 1.4;
      margin-top: 13px;
      margin-right: 22px;
      padding: 2px 5px;
      display: block;
      float: left;
      color: #fff;
      z-index: 30;
      text-align: center;
      background: #07ac72;
      border-radius: 2px; }
    .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-logo {
      float: left;
      width: 168px;
      height: 60px;
      z-index: 20;
      margin-right: 24px;
      vertical-align: top;
      display: inline-block; }
    .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col {
      float: left;
      height: 60px;
      vertical-align: top; }
      .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather {
        float: left;
        height: 60px;
        line-height: 60px;
        margin-left: 13px;
        cursor: pointer; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .colweahter-city {
          padding-left: 9px;
          height: 60px;
          line-height: 60px;
          padding-right: 10px;
          color: #999;
          display: inline-block; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .colweahter-city .weahtercity-arrow {
            width: 9px;
            height: 6px;
            background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") no-repeat -52px -97px;
            margin-left: 4px;
            vertical-align: middle; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .width-lg .colweahter-info .width-lg .colweahter-link {
          color: #999;
          line-height: 60px;
          height: 60px;
          position: relative; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .width-lg .colweahter-info .width-lg .colweahter-link .weahterinfo-icon {
            line-height: 60px;
            vertical-align: middle;
            width: 26px;
            height: 60px;
            background-position: 0 14px;
            background-repeat: no-repeat; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .width-lg .colweahter-info .width-lg .colweahter-link .weahterinfo-txt {
            margin-left: 4px; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .width-lg .colweahter-info .width-lg .colweahter-link .weahterinfo-temperature {
            font-family: 'arial';
            margin-left: 8px; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .colweahter-link {
          vertical-align: top;
          padding: 0 8px 0 3px; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colweather .colweahter-link .weahterlink-icon {
            vertical-align: top;
            cursor: pointer;
            overflow: hidden;
            margin-top: 25px;
            width: 11px;
            height: 11px;
            background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") no-repeat -342px -251px; }
      .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar {
        position: relative;
        text-align: center;
        float: left;
        margin-left: 2px;
        width: 170px;
        height: 60px; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info {
          display: block;
          height: 60px;
          line-height: 60px;
          color: #999;
          cursor: pointer;
          overflow: hidden; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .cal-link {
            color: #999; }
            .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .cal-link .calendarinfo-month {
              font-family: 'arial'; }
            .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .cal-link .calendarinfo-day {
              padding-left: 10px; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .calendarinfo-nongli {
            padding-left: 10px;
            vertical-align: top; }
            .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .calendarinfo-nongli .holiday-slider {
              height: 60px;
              width: 67px;
              overflow: hidden;
              position: relative;
              line-height: 60px;
              vertical-align: top; }
              .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .calendarinfo-nongli .holiday-slider .holidays {
                height: 60px;
                position: absolute; }
                .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .calendarinfo-nongli .holiday-slider .holidays .holiday {
                  height: 60px;
                  width: 67px;
                  float: left; }
                  .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-col .colcalendar .colcalendar-info .calendarinfo-nongli .holiday-slider .holidays .holiday .holiday-link {
                    color: #999; }
    .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links {
      float: right;
      height: 60px;
      padding: 0 129px 0 0; }
      .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .loginlink {
        height: 100%;
        position: relative;
        vertical-align: top; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .loginlink .loginlink-mask {
          opacity: 1;
          background: #f7f7f7;
          filter: none;
          display: none;
          z-index: 10;
          height: 60px;
          position: absolute;
          top: 0;
          left: 0; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .loginlink .login {
          position: relative;
          padding: 0;
          line-height: 60px;
          padding-left: 33px;
          padding-right: 9px;
          color: #999;
          background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") no-repeat -30px -110px;
          z-index: 11; }
      .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-pan {
        display: inline-block;
        height: 60px;
        overflow: hidden;
        vertical-align: top;
        position: relative; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-pan .pan {
          padding: 0 8px 0 6px;
          line-height: 60px;
          color: #999;
          cursor: pointer; }
      .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .mail {
        height: 60px;
        display: inline-block; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .mail .link {
          height: 60px;
          line-height: 60px;
          padding: 0 0 0 8px;
          text-align: left; }
          .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .mail .link .text {
            position: relative;
            z-index: 2; }
      .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-browser, .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-phone, .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-desktop {
        display: inline-block;
        height: 60px;
        overflow: hidden;
        vertical-align: top;
        position: relative; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-browser .browser, .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-phone .browser, .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-desktop .browser {
          padding: 0 5px 0 5px;
          line-height: 60px;
          color: #999;
          cursor: pointer; }
        .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-browser .link, .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-phone .link, .layout-container-inner .hao123-tools-wrap .hao123-tools .hao123-links .header-desktop .link {
          display: block;
          width: 36px;
          height: 60px; }
  .layout-container-inner .hao123-tools-wrap .headerbottombr {
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid #ccc;
    opacity: .2; }
.layout-container-inner .hao123-search-panel-box {
  height: 82px; }
  .layout-container-inner .hao123-search-panel-box .g-wd {
    width: 1190px;
    margin: 0 auto; }
  .layout-container-inner .hao123-search-panel-box .hao123-search-panel {
    position: relative;
    z-index: 110; }
    .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search {
      padding: 27px 0 0 166px;
      position: relative; }
      .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search {
        width: 800px;
        display: inline-block;
        zoom: 1;
        position: relative; }
        .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .logo {
          width: 120px;
          height: 40px;
          position: relative; }
          .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .logo .link {
            position: absolute;
            left: 0;
            z-index: 100; }
            .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .logo .link .color {
              background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") -10px -212px no-repeat; }
            .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .logo .link span {
              width: 120px;
              height: 40px;
              display: block; }
          .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .logo a {
            color: #333;
            text-decoration: none;
            outline: 0; }
        .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .left {
          float: left;
          margin: 4px 30px 0 -26px; }
        .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .tabs-toggle {
          cursor: pointer;
          position: absolute;
          top: 1px;
          left: 125px;
          z-index: 1;
          padding: 0 10px;
          width: 38px;
          height: 44px;
          font: normal 12px/45px simsun;
          text-decoration: none;
          color: #999;
          background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") -319px 0; }
          .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .tabs-toggle .arrow {
            overflow: hidden;
            position: absolute;
            top: 19px;
            left: 38px;
            width: 9px;
            height: 6px;
            text-indent: -999px;
            background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") -52px -97px; }
        .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .input-wrapper {
          margin-right: 0;
          position: relative; }
          .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .input-wrapper .input-shadow {
            width: 538px;
            height: 44px;
            border: 1px solid #666;
            border-right: 0;
            background: #fff; }
            .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .input-wrapper .input-shadow input {
              width: 448px;
              height: 18px;
              padding: 10px 0;
              border: 0;
              margin: 3px 30px 0 60px;
              font: 16px arial;
              vertical-align: middle;
              outline: none; }
            .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .input-wrapper .input-shadow input::-webkit-input-placeholder {
              font-size: 12px; }
        .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .button-wrapper {
          vertical-align: top;
          font-size: 0px; }
          .layout-container-inner .hao123-search-panel-box .hao123-search-panel .hao123-search .search .button-wrapper .button {
            width: 120px;
            height: 46px;
            background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") no-repeat -211px -180px;
            border: 0;
            font-size: 14px;
            cursor: pointer; }
.layout-container-inner .hotsearchCon {
  width: 1000px;
  margin: -9px auto -7px; }
  .layout-container-inner .hotsearchCon .hotsearch-box {
    margin: 6px 0 26px 195px;
    position: relative;
    width: 658px;
    height: 20px;
    z-index: 103; }
    .layout-container-inner .hotsearchCon .hotsearch-box .hotsearchtop {
      width: 658px;
      position: relative;
      height: 20px; }
      .layout-container-inner .hotsearchCon .hotsearch-box .hotsearchtop .boxhot {
        width: 658px;
        height: 20px;
        overflow: hidden;
        list-style: none; }
        .layout-container-inner .hotsearchCon .hotsearch-box .hotsearchtop .boxhot a {
          font-size: 12px;
          line-height: 20px;
          text-decoration: none;
          outline: 0;
          border: 0 none; }
        .layout-container-inner .hotsearchCon .hotsearch-box .hotsearchtop .boxhot li {
          display: inline-block; }
        .layout-container-inner .hotsearchCon .hotsearch-box .hotsearchtop .boxhot .title {
          margin-right: 6px;
          font-size: 12px;
          line-height: 20px;
          color: #999; }
          .layout-container-inner .hotsearchCon .hotsearch-box .hotsearchtop .boxhot .title .hotsearch-link {
            color: #090;
            padding-left: 15px;
            padding-bottom: 1px;
            background: url("https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/B4/uF/o3/lc/nj/index_widthlg.png") -159px -260px no-repeat; }
        .layout-container-inner .hotsearchCon .hotsearch-box .hotsearchtop .boxhot .text {
          margin-right: 20px; }
.layout-container-inner .hao123-bodyct {
  position: relative; }
  .layout-container-inner .hao123-bodyct ul {
    list-style: none; }
  .layout-container-inner .hao123-bodyct .menus {
    width: 1190px;
    height: 38px;
    background-color: #fcfcfc;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    z-index: 2; }
    .layout-container-inner .hao123-bodyct .menus .menus {
      width: 1190px;
      height: 38px;
      border-top: 2px solid #099e6a;
      border-bottom: 1px solid #eaeaea;
      background-color: #fcfcfc;
      margin: 0 auto;
      font-size: 14px;
      position: relative;
      z-index: 2; }
      .layout-container-inner .hao123-bodyct .menus .menus .menu {
        height: 38px;
        line-height: 38px;
        width: 108px;
        float: left;
        text-align: center;
        cursor: pointer;
        overflow: hidden; }
        .layout-container-inner .hao123-bodyct .menus .menus .menu .link {
          border-right: 0;
          text-align: center;
          color: #333;
          position: relative;
          font-family: Microsoft Yahei;
          font-size: 16px;
          display: block;
          height: 100%; }
        .layout-container-inner .hao123-bodyct .menus .menus .menu .active {
          background-color: #0aa770;
          cursor: pointer;
          color: #fff; }
      .layout-container-inner .hao123-bodyct .menus .menus .first {
        width: 81px; }
        .layout-container-inner .hao123-bodyct .menus .menus .first .link {
          border-left: 0; }
  .layout-container-inner .hao123-bodyct .govsite-top {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px;
    overflow: hidden; }
    .layout-container-inner .hao123-bodyct .govsite-top .govsite-inner {
      width: 1188px;
      height: 36px;
      border: solid 1px #84d7ba;
      line-height: 36px;
      margin: 0 auto;
      font-size: 14px;
      color: #666;
      background: #fff;
      position: relative;
      overflow: hidden; }
      .layout-container-inner .hao123-bodyct .govsite-top .govsite-inner .title {
        vertical-align: top;
        width: 80px;
        height: 36px;
        text-align: center;
        color: #0aa770; }
      .layout-container-inner .hao123-bodyct .govsite-top .govsite-inner .title-line {
        vertical-align: top;
        height: 20px;
        width: 1px;
        background-color: #eaeaea;
        position: relative;
        top: 9px;
        margin-right: 36px; }
      .layout-container-inner .hao123-bodyct .govsite-top .govsite-inner .govsite-item {
        height: 36px;
        line-height: 36px;
        vertical-align: top;
        margin-right: 36px; }
  .layout-container-inner .hao123-bodyct .w1000px {
    width: 1190px; }
    .layout-container-inner .hao123-bodyct .w1000px .s-br21, .layout-container-inner .hao123-bodyct .w1000px .g-br21, .layout-container-inner .hao123-bodyct .w1000px .s-br21h:hover, .layout-container-inner .hao123-bodyct .w1000px .g-br21h:hover {
      border: 1px solid #84d7ba; }
    .layout-container-inner .hao123-bodyct .w1000px .s-bg5, .layout-container-inner .hao123-bodyct .w1000px .g-bg5, .layout-container-inner .hao123-bodyct .w1000px .s-bg5h:hover, .layout-container-inner .hao123-bodyct .w1000px .g-bg5h:hover {
      background-color: #fcfcfc; }
    .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct {
      width: 900px;
      float: right; }
      .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite {
        width: 898px;
        z-index: 100;
        border-width: 1px;
        position: relative; }
        .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite ul {
          list-style: none; }
        .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite #box-site .widget-site .js_site .site-bd {
          width: 868px;
          padding-left: 23px;
          padding-top: 3px;
          position: relative; }
          .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite #box-site .widget-site .js_site .site-bd .site-item-normal {
            width: 130px;
            padding-top: 6px;
            padding-bottom: 4px;
            margin-right: 2px;
            padding-left: 9px; }
            .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite #box-site .widget-site .js_site .site-bd .site-item-normal a {
              outline: 0;
              text-decoration: none;
              background-image: url("https://gss3.bdstatic.com/5bVXsj_p_tVS5dKfpU_Y_D3/urlicon/6000.png");
              background-position: 2px 44%;
              background-position: 2px 40% \9 ;
              background-repeat: no-repeat;
              padding-left: 25px;
              display: inline-block; }
            .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite #box-site .widget-site .js_site .site-bd .site-item-normal .sitesublink {
              background: 0;
              padding-left: 0;
              padding-right: 5px;
              position: relative;
              z-index: 88;
              display: inline-block; }
          .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite #box-site .widget-site .js_site .site-bd .site-item {
            color: #000;
            font-size: 14px;
            height: 20px;
            line-height: 20px;
            vertical-align: top; }
        .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite #box-site .widget-site .site-hd0 {
          padding-bottom: 3px; }
        .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite {
          clear: both; }
          .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-line {
            margin-left: 30px;
            margin-right: 30px; }
            .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-line .width-lg .widget-famoussite .wf-inner, .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-line .width-lg .widget-famoussite .wf-tuijian {
              margin-left: 30px; }
            .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-line .wf-line0 {
              top: 0; }
          .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-inner {
            margin-left: 30px;
            padding-bottom: 4px;
            padding-top: 4px; }
            .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-inner span {
              width: 143px;
              vertical-align: top;
              position: relative;
              display: inline-block;
              height: 30px;
              line-height: 30px; }
              .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-inner span a {
                padding: 1px 4px;
                zoom: 1; }
              .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-inner span .imgicon {
                padding-left: 29px;
                background-position: 4px center;
                background-repeat: no-repeat;
                cursor: pointer; }
              .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-inner span .g_red, .layout-container-inner .hao123-bodyct .w1000px .layout-content-ct .layout-famoussite .box-famoussite .widget-famoussite .wf-inner span .tc-orange {
                color: #f50;
                text-decoration: none; }
    .layout-container-inner .hao123-bodyct .w1000px .layout-content {
      clear: both;
      margin: 0 auto; }

/*# sourceMappingURL=index.css.map */
