@import url(../cdn/myreset.min.css);
body, html {
  background-color: #eff2f1; }

body {
  overflow: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.yo_header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 650px;
  padding: 12px 5%;
  margin: 0 auto;
  height: 70px;
  background: #fff; }
  .yo_header .logo_box {
    display: block;
    float: left; }
    .yo_header .logo_box img {
      display: block;
      width: 120px;
      height: 46px; }
  .yo_header .login_box {
    float: right;
    height: 46px;
    line-height: 46px;
    font-size: 14px; }
    .yo_header .login_box a {
      color: #666; }
    .yo_header .login_box a:hover {
      color: #2ed4db; }

.yo_nav {
  position: fixed;
  top: 70px;
  bottom: 0;
  width: 100px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #dde0df; }
  .yo_nav ul {
    width: 100%;
    height: 100%; }
    .yo_nav ul li {
      margin: 0 auto;
      padding-top: 50px;
      height: 80px;
      background: url("../../image/admin/public_topic_nor.png") no-repeat center 22px;
      background-size: 22px;
      color: #847878;
      font-size: 14px;
      text-align: center;
      border-bottom: 1px solid #eaeaea; }
      .yo_nav ul li.reply {
        background-image: url("../../image/admin/public_reply_nor.png"); }
      .yo_nav ul li.knowledge {
        background-image: url("../../image/admin/public_knowledge_nor.png"); }
      .yo_nav ul li.on {
        background: #2ed4db;
        color: #fff;
        background-image: url("../../image/admin/public_topic_sel.png");
        background-repeat: no-repeat;
        background-position: center 22px; }
        .yo_nav ul li.on.reply {
          background-image: url("../../image/admin/public_reply_sel.png"); }
        .yo_nav ul li.on.knowledge {
          background-image: url("../../image/admin/public_knowledge_sel.png"); }

.yo_body {
  padding-top: 70px;
  padding-left: 100px;
  width: 100%;
  min-width: 550px; }
  .yo_body .yo_content {
    width: 100%; }
    .yo_body .yo_content .top {
      width: 100%;
      height: 80px;
      background: #fff;
      border-bottom: 1px solid #dde0df;
      padding-left: 30px;
      padding-right: 7%;
      position: relative;
      box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1); }
      .yo_body .yo_content .top .title {
        color: #999;
        font-size: 20px;
        line-height: 80px; }
      .yo_body .yo_content .top .add_topic_btn {
        width: 30%;
        height: 40px;
        max-width: 200px;
        color: #fff;
        background: #2ed4db;
        border-radius: 4px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 7%; }
    .yo_body .yo_content .bottom {
      padding-top: 18px;
      padding-left: 12px;
      padding-bottom: 16px; }
      .yo_body .yo_content .bottom .form {
        width: 100%;
        background: #fff;
        padding: 22px 0;
        box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
        margin-bottom: 18px; }
        .yo_body .yo_content .bottom .form lable {
          color: #99a2b1;
          font-size: 14px;
          padding-right: 20px; }
        .yo_body .yo_content .bottom .form button {
          height: 32px;
          color: #666;
          font-size: 14px; }
        .yo_body .yo_content .bottom .form .dropdown-toggle {
          background: #dfe3e6;
          color: #fff; }
        .yo_body .yo_content .bottom .form input::-webkit-input-placeholder {
          color: #d4d8df;
          font-size: 14px; }

/*# sourceMappingURL=admin_topic_list.css.map */
